body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  .Wrong_col{
    color: red;
  }
  header {
    background-color: #2e4053;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
  }

  header h1 {
    flex-grow: 1;
    font-size: 24px;
    margin: 0;
  }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  nav li {
    display: inline-block;
    margin-left: 20px;
  }

  nav li:first-child {
    margin-left: 0;
  }

  nav a {
    color: white;
    text-decoration: none;
  }

  main {
    padding: 20px;
  }

  section {
    margin-bottom: 40px;
  }

  section h2 {
    margin-top: 0;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  table th,
  table td {
    border: 1px solid #ccc;
    padding: 8px;
  }

  table th {
    background-color: #f1f1f1;
    text-align: left;
  }
  footer{
    background-color: #0080ff;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    color: #fff;
    font-weight: 500;
  }

  .btn {
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    padding: 8px 16px;
  }

  .btn-primary {
    background-color: #3498db;
  }

  .btn-primary:hover {
    background-color: #2980b9;
  }

  .btn-success {
    background-color: #2ecc71;
  }

  .btn-success:hover {
    background-color: #27ae60;
  }

  .btn-warning {
    background-color: #f39c12;
  }

  .btn-warning:hover {
    background-color: #e67e22;
  }

  .btn-danger {
    background-color: #e74c3c;
  }

  .btn-danger:hover {
    background-color: #c0392b;
  }
  .chart {
    display: flex;
    align-items: flex-end;
    height: 200px;
    background-color: #ffffff;
    padding: 0 10px;
  }

  .bar {
    text-align: center;
    color: #fff;
    width: 50px;
    margin-right: 10px;
    background-color: #0080ff;
  }
  .total {
display: flex;
align-items: center;
justify-content: space-between;
background-color: #f2f2f2;
padding: 10px;
font-size: 18px;
font-weight: bold;
}

.label {
margin-right: 10px;
}

.value1 {
color: #0080ff;
}
.value2 {
color: #ff6a00;
}