.containner {
  margin-top: 65px;
  position: relative;
  width: 1440px;
}

.ctn-slide1 {
  width: 100%;
  display: flex;
}
.slide1_slice1 {
  width: 840px;
  padding: 80px 0 0 120px;
}
.silde1_heading {
  font-family: "Roboto Slab";
  font-weight: 700;
  font-size: 60px;
  line-height: 79px;
  align-items: center;
  margin-bottom: 15px;
}
.slide1_des {
  font-family: "Roboto Slab";
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: justify;
  width: 430px;
}
.ctn-contact {
  margin-top: 35px;
}
.slide1_icon {
  padding: 10px;
  background-color: #a0e4cb;
  display: inline-block;
  border-radius: 25px;
}
.slide1_icon i {
  color: #383838dd;
}
.slide1_info {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: justify;
  width: 290px;
  margin: 5px 0 10px 0;
}
.space_lit {
  height: 30px;
  width: 100%;
  display: inline;
}
.slide1_slice2 {
  width: 600px;
  height: 100vh;
  background-color: #a0e4cb;
  position: relative;
}
.rect {
  display: block;
  position: absolute;
  background: #ffffff;
  width: 740px;
  height: 715px;
  top: 78px;
  left: -280px;
  box-shadow: -4px 4px 15px -5px rgba(0, 0, 0, 0.25);
  border-radius: 34px;
}
.form_table {
  margin-top: 90px;
  margin-left: 60px;
}

.form_table td label {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  color: rgb(40, 40, 40);
}
.form_table tr td:first-child {
  width: 338px;
}
.form_table td input,
.form_table td textarea {
  width: 250px;
  height: 62px;
  display: inline-block;
  outline: none;
  border: none;
  padding: 0 20px;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(157, 157, 157, 0.33);
  border-radius: 30px;
  align-items: start;
  margin-bottom: 40px;
  font-family: "Roboto";
  font-size: 18px;
}
.form_table td input::placeholder,
.form_table td textarea::placeholder {
  color: #d5d5d5;
  font-family: "Roboto";
}
.form_table td textarea {
  padding-top: 20px;
  width: 588px;
  height: 160px;
}
.b1 {
  font-size: 20px;
  font-family: "Roboto";
  color: #fff;
  font-weight: 500;
  border: none;
  padding: 10px;
  background: #a0e4cb;
  box-shadow: 4px 4px 4px #cff5e6;
  border-radius: 19px;
  cursor: pointer;
}
.b1:hover{
  background: #79e3bc;

}
label span {
  padding-left: 5px;
  color: rgb(255, 49, 49);
}
/* modal */
.close {
  border: none;
  font-size: 30px;
  background-color: #fff;
  border-radius: 15px;
  line-height: 45px;
}

.close span {
  color: #1cc688 !important;
}
.close:hover span {
  cursor: pointer;
  color: #006b5b !important;
}
.modal-open {
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  outline: 0;
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-dialog {
  position: relative;
  margin: 0.5rem;
  pointer-events: none;
  width: 500px;
  margin: 200px auto;
}

.modal.fade .modal-dialog {
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(0, -25%);
  transform: translate(0, -25%);
}

.modal.show .modal-dialog {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal-dialog-centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - (0.5rem * 2));
}

.modal-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 40px;
  font-weight: 500;
  font-size: 20px;
  color: #3c3c3c;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  outline: 0;
}
.modal-content span {
  color: #000;
}

.modal-content p {
  font-size: 25px;
  color: #000;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}

.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop.show {
  opacity: 0.5;
}

.modal-header {
  font-size: 30px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #e9ecef;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.modal-header .close {
  padding: 1rem;
  margin: -1rem -1rem -1rem auto;
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
}

.modal-body {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem;
}

.modal-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 1rem;
  border-top: 1px solid #e9ecef;
}

.modal-footer > :not(:first-child) {
  margin-left: 0.25rem;
}

.modal-footer > :not(:last-child) {
  margin-right: 0.25rem;
}
@media (max-width: 768px) {
  .slide1_slice1{
    padding: 10px;
    width: 100vw;
  }
  .slide1_des{
    width: 95vw;
  }
  .rect{
    width: auto;
    top: 762px;
    left: -385px;
  }
  .form_table{
    margin: 0;
  }
  .form_table tr td:first-child{
    width: 50px;
  }
  .form_table td input, .form_table td textarea{
    width: 150px;
  }
}