.name-page{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 75px;
    line-height: 99px;
    text-align: center;
    margin-bottom: 35px;
    margin-top: 90px;
}
.blog_container{
    max-width: 1300px;
    width: 100vw;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content:space-between;
}
.blog_item-large{
    width: 475px;
    height: 860px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 35px;
position: relative;
cursor: pointer;
}
.blog_img-big{
    width: 100%;
    height: 685px;
    object-fit: cover;
    border-radius: 35px 35px 0 0;
}
.blog_item-des{
    margin: 10px 15px;
    height: 72px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 33px;
    text-align: justify;
}
.blog_item-hastag-bar{
    display: block;
    margin: 10px 15px;
}
.blog_item-hastag-item{
    margin-right: 5px;
    display: inline-block;
    padding: 8px 10px;
    background-color: #D9D9D9;
    border-radius: 22px;
    color: #302D2D;

}
.blog_item-view, .blog_item-date-up{
    font-family: 'Roboto Slab';
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #6C6C6C;
    position: absolute;
    bottom: 15px;
}
.blog_item-view{
    left: 15px;
} 
.blog_item-date-up{
    right: 15px;

}

.blog_item-normal{
    width: 380px;
    height: 415px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 35px;
    position: relative;
    cursor: pointer;
}
.blog_img-normal{
    width: 100%;
    height: 235px;
    object-fit: cover;
    border-radius: 35px 35px 0 0;
}
.blog_right-item{
    align-content: space-between;
    justify-content: space-between;
    display: flex;
    width: 785px;
    flex-wrap: wrap;
}
.menu_page-direc{
    float: right;
    margin: 20px 150px 28px 0;
    }
    .menu_page-num{
        display: inline-block;
        width: 50px;
        height: 50px;
        /* box-sizing: border-box; */
        text-align: center;
        line-height: 50px;
        font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    text-decoration: none;
    color: black;
    border-radius: 29px;
    }
    .menu_page-num:nth-child(2){
        border: 4px solid #a0e4cb;
    }
    .menu_page-num:hover{
        background-color: #c0c0c0;
        color: #ffffff;
    }

    @media (max-width: 768px) {
        .blog_item-normal{
            margin-bottom: 15px;

        }
        .blog_item-des{
            text-overflow: ellipsis;
        }
        .blog_right-item{
            justify-content: center;
        }
        .blog_item-large{
            width: 380px;
            margin: 10px auto;
        }
      }